{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">
    <div class="container">
        <div class="contact">
            <h2>{{ .Site.Data.homepage.contact.title }}</h2>
            <div class="row pt-2">
                
                
                  
                    <img
                      class="lozad img-responsive image-left-overflow"
                      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                      data-src="{{ .Site.Data.homepage.contact.image.x | absURL }}"
                      data-srcset="{{ .Site.Data.homepage.contact.image.x | absURL }} 1x, {{ .Site.Data.homepage.contact.image._2x | absURL }} 1x"
                      alt="Profile Picture"
                    />
                  
               
              
                <!--
                <div class="col-12 col-lg-7">
                    <form action="{{ .Site.Data.homepage.contact.form.action }}" method="{{ .Site.Data.homepage.contact.form.method }}">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <input type="text" name="" id="full_name"
                                       placeholder="{{ .Site.Data.homepage.contact.form.full_name }}"/>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" name="" id="email"
                                       placeholder="{{ .Site.Data.homepage.contact.form.email }}"/>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <textarea name="" id="message"
                                          cols="30" rows="3" placeholder="{{ .Site.Data.homepage.contact.form.message }}"></textarea>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">
                                    <i class="{{ .Site.Data.homepage.contact.button.icon }}"></i>
                                    {{ .Site.Data.homepage.contact.button.btnText }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                -->
                
                <div class="col-12 col-lg-5 contact__info">
                    <h4>{{ .Site.Data.homepage.contact.phone.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.phone.number }}</span>
                    <h4>{{ .Site.Data.homepage.contact.email.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.email.email | safeHTML }}</span>
                    <h4>{{ .Site.Data.homepage.contact.address.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.address.address | safeHTML }}</span>
                    <br /><br />
                    <a class="btn btn-primary" href='{{ .Site.Data.homepage.contact.button.btnAction }}'>
                        <i class="{{ .Site.Data.homepage.contact.button.icon }}"></i>
                        {{ .Site.Data.homepage.contact.button.btnText }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
